<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>AT FE nuxt watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/butcherad/Work/cob-repos/Account Track/new/account_tracker/frontend/</string>
        <string>Account Tracker Frontend Modified</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/butcherad/Work/cob-repos/Account Track/new/account_tracker/frontend/</string>
    </array>
</dict>
</plist>
